body{

}

.container{
  width: 1170px;
  margin: auto;
  background-color: #cdf;
}
.slider{}
  .header .navbar{
    /*color: #ddf;*/
    background-color: #edc;
    overflow: hidden;
  }
  .header .navbar h1{
    float: left;
    padding: 0px;
    background-color: #ced;
    overflow: hidden;
  }
  .header .navbar ul{
    background-color: #efd;
overflow: hidden;
  }
  .header .navbar li{list-style: none;float: left;
    padding: 10px;

  }
